{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %} ">
    <link rel="icon" href="{% static 'img/favicon.png'%}">
</head>
<body>
    {% include 'travel_app/nav.html' %}
    <div class="content-box">        
        <a href="{% url 'travel_app:write' %}">
            <div class="floating-button" id="write-button">
                계획 쓰기
            </div>
        </a>
            <div class="floating-button" id="chat-button">
                GPT대화 
            </div>
            <div class="card-container">
              {% for post in posts %}
              <div class="card-box">
                  <a href="{% url 'travel_app:main_post' post.pk %}">
                    <div class="card-img">
                      {% if post.postimage %}
                      <img src="{{ post.postimage.url }}" alt="{{ post.title }}" onerror="this.onerror=null; this.src='{% static 'img/pic-none.jpg' %}'">
                      {% else %}
                        <!-- 기본 이미지 또는 이미지 없음 표시 -->
                      <img src="{% static 'img/pic-none.jpg' %}" alt="{{ post.title }}">
                      {% endif %}
                    </div>
                    <div class="card-info-box">
                      <h5>{{ post.title }}</h5>
                      <div class="flex-box">
                        <p>여행상태 |{{post.status}}</p>
                        <p>설명 | {{post.description|truncatechars:30}}</p>
                        <p>조회수   | {{ post.view }}</p>
                        <p>좋아요   | {{ post.likes.count }}</p>
                        <p>댓글수   | {{post.comment_set.count}}</p>
                        <p>여행일자 | {{post.traveldate}}</p>
                      </div>
                    </div>
                  </a>
                </div>
              {% endfor %}
          </div>
          
    </div>

    {% include 'travel_app/footer.html' %}
</body>
<script src="{% static 'js/chat.js' %}"></script> 
</html>