{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "css/global.css" %} ">
  <link rel="stylesheet" type="text/css" href="{% static "css/nav.css" %} ">
  <link rel="stylesheet" type="text/css" href="{% static "css/post.css" %} ">
  <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %} ">
  <link rel="icon" href="{% static 'img/favicon.png'%}">
    <title>게시글-{{post.title}}</title>
</head>
<body>
        {% include 'travel_app/nav.html' %}
    <div class="content-box">
      <div class="post-container">
        <div class="post-box">
          {% block content %}
          {% if post.postimage %}
          <img src="{{ post.postimage.url }}" alt="{{ post.title }}" onerror="this.onerror=null; this.src='{% static 'img/pic-none.jpg' %}'">
          {% else %}
          <!-- 기본 이미지 또는 이미지 없음 표시 -->
          <img src="{% static 'img/pic-none.jpg' %}" alt="{{ post.title }}">
          {% endif %}
            <div class="flex-box">
              <div class="user-info">
                <h6>작성자 : {{ post.author.nickname }}</h6>
              </div>
            {% if post.author.id == user.id %}
                <div class="btn-box">
                  <a href="{% url 'travel_app:edit' post.id %}">
                    <button class="upbtn">수정하기</button>
                  </a>
                  <form method="POST" action="{% url 'travel_app:delete' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class='delbtn' onclick="return confirmDelete();">삭제하기</button>
                  </form>
                </div>
            {% endif %}
            <hr class="line">
            <div class="post-info-box">
              <div class="flex-box between">
                <h3>{{ post.title }}</h3>
                <h4>여행상태 | {{ post.status }}</h4>
              </div>
              <p>여행지 | {{ post.location }}</p>
              <p>설명 |<br>{{ post.description }}</p>
              <div class="location-views-box flex-box between">
                <p>희망여행일자 | {{ post.traveldate }}</p>
                <p>조회수 | {{ post.view }} </p> 
                <button id="like-button" data-post-id="{{ post.id }}">👍 <span id="like-count">{{ post.likes.count }}</span></button>
                <p>작성일 | {{ post.created_at }}</p> 
              </div>
            </div>
            <hr class="line">
            <div class="comments">
              <h3>Comments</h3>
              <ul>
                {% for comment in comments %}
                  <li>
                    <p class="author">{{ comment.user.nickname }} : {{ comment.comment }}</p>
                  </li>
                {% empty %}
                  <li>댓글이 없습니다.</li>
                {% endfor %}
              </ul>
            </div>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'travel_app:add_comment' post_id=post.id %}">
              {% csrf_token %}
              댓글 | <input type="text" name="comment" placeholder="적기전에 생각했나요?">
              <button class='comment-button' type="submit">댓글 작성</button>
            </form>
          
            {% else %}
            <p>댓글을 작성하려면 로그인이 필요합니다.</p>
            {% endif %}
            {% endblock %}
        </div>
      </div>
    </div>
    {% include 'travel_app/footer.html' %}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('#like-button').click(function() {
        var postId = $(this).data('post-id');
        var likeButton = $(this);
        var likeCount = $('#like-count');
        
        $.ajax({
            url: '/like/' + postId + '/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(response) {
                likeCount.text(response.result);
                
                if (likeButton.hasClass('liked')) {
                    likeButton.removeClass('liked');
                } else {
                    likeButton.addClass('liked');
                }
            }
        });
    });
});
</script>
<script>
  function confirmDelete() {
    var result = confirm("정말 진짜 삭제하시겠습니까?");
    return result;  // 확인을 누르면 true, 취소를 누르면 false 반환
  }
</script>

</html>