{% load static %}
<nav>
    <div class="container">
            <div class="minibox">
                <div class="logo">
                    <a href="{% url 'travel_app:main' %}">
                    <img src="{% static 'img/logo.png' %}" alt=""/>
                    </a>
                </div><p>당신의 계획을 이곳에!</p>
            </div>
            <div class="minibox2">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                {% if user.is_authenticated %}
                    <span>{{user.nickname}}</span>
                    <a href="{% url 'user_app:logout' %}" class="ghost-button">로그아웃</a>
                {% else %}
                    <a href="{% url 'user_app:login' %}" class="ghost-button" style="color: #1e1e1e">로그인</a>
                {% endif %}
            </div>
        </div>    
</nav>