* {
    font-family: 'Pretendard', sans-serif;
}

.post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-box img {
    display: flex;
    max-width: 500px;
    max-height: 500px;
}

.line {
    width: 700px;
}

.user-info h6 {
    display: block;
    font-size: 25px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post-info-box {
    max-width: 700px;
}

.post-info-box p {
    word-wrap: break-word;
}

.upbtn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3eb06a;
    color: #fff;
    cursor: pointer;
}

.delbtn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff6b6b;
    color: #fff;
    cursor: pointer;
}

.floating-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #36d1bf;
    border-radius: 25%;
    width: 80px;
    height: 80px;
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1000;
}